body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#Card {
    background: linear-gradient(to bottom, #1a1a1a, #444);
    padding: 20px 30px 20px 30px;
    border: 1px solid #000;
    width: 300px;
}
  
#photoInfo {
    display: flex;
    align-items: center;
}
#photo {
    border: 1px solid;
    border-radius: 5rem;
    overflow: hidden;
    margin: 10px;
}
#info {
    margin-left: 10px;
    margin-right: 10px;
}
#info li {
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 0;
    border-radius: 1rem;
    height: 2em;
    margin-bottom: 0.75rem;
    cursor: pointer; 
}
#info li img {
    margin-right: 10px;
}
#info li p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: small;
}

ul {
    padding: 0;
}

#sectionList div {
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
    border-radius: 1rem;
    margin: 10px;
    filter: grayscale(100%);
    align-items: baseline;
}
#sectionList div button {
    align-items: baseline;
    background: transparent;
    outline: none;
    display: flex;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    width: 100%;
    color: #fff;
}
#sectionList div:hover {
    filter: grayscale(0%);
    background: linear-gradient(to right, #000846, #3b55ea);
    transition: filter 0.3s linear;
    cursor: pointer;    
} 
#sectionList div.expanded {
    align-items: center;
    flex-direction: column;
    cursor: default;
    filter: grayscale(0%);
    background: #444;
}
#sectionList div.expanded div {
    filter: grayscale(0%);
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    border: 0;
}
#sectionList div.expanded div:hover {
    cursor: default;
    background: none;
}
#sectionList div.expanded #subLang {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    justify-content: space-between;
    margin: 0;
}
#sectionList div.expanded div .desc {
    display: flex;
    align-items: baseline;
    margin: 0;
}
#sectionList div.expanded div .desc p {
    margin: 0px 0px 0px 10px;
    font-size: 13px;
}
#sectionList div.expanded div .desc h4 {
    margin: 0px 0px 15px 0px;
    font-size: 15px;
}
#sectionList div.expanded div .icos {
    height: 30px;
    width: 30px;
    margin: 0px 10px 15px;
}
#sectionList div.expanded #subPort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}
#sectionList div.expanded #subPort a {
    display: flex;
    font-size: 14px;
    padding-top: 6px;
    margin-left: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    font-weight: 100;
    color: blue;
}
#sectionList .arrow {
    max-height: 8px;
    margin-right: 10px;
}
#sectionList div.expanded .arrow {
    transform: rotate(180deg);
}
#sectionList h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: medium;
    margin: 10px;
}
#footer {
    display: flex;
    padding-top: 10px;
    margin: 10px;
    justify-content: flex-end;
}
